body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}
.register {
    height: 55%;
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.container {
    margin-top: 20px;
    text-align: center;
}
.history {
    margin-top: 20px;
    text-align: center;
}
.logout {
    margin-top: 20px;
    text-align: center;
}
.check-in-out {
    background-color: #28a745;
    color: white;
}
.check-in-out:hover {
    background-color: #1e7e34; /* Verde más oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.clear-history {
    background-color: #dc3545;
    color: white;
}
.clear-history:hover {
    background-color: #a71d2a; /* Rojo más oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-btn {
    background-color: #007bff;
    color: white;
}
.logout-btn:hover {
    background-color: #0056a1; /* Azul más oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}